<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>用户查询</title>
    <script src="../jslib/jquery-2.1.1.min.js"></script>
    <script src="../jslib/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <script src="../jslib/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../jslib/bootstrap/bootstrap3/css/bootstrap.css"/>

    <link rel="stylesheet" href="../jslib/bootstrap/bootstrap-table/bootstrap-table.css"/>
    <script src="../jslib/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../jslib/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
<body>

<!-- 条查  -->
<div id="toolbar">
    <form class="form-inline">
        <div class="container">
            <div class="form-group" style="float: left;margin-left: 10px">
                <label for="username">用户名称</label>
                <input type="text" class="form-control" id="username" placeholder="请输入用户名称"/>
            </div>
            <div class="dropdown" style="float: left;margin-left: 10px">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">手机号
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="phoneHtml" role="menu" aria-labelledby="menu1">

                    </ul>
                <button type="button" onclick="searchUser()" class="btn btn-info glyphicon glyphicon-search">搜索</button>
            </div>
        </div>
        <!--<div class="form-group">
        </div>-->
    </form>
</div>
<!--修改密码弹框-->
<div class="modal fade" id="myModal2" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <form id="userForm">
                    <!--提交-->
                    <div id="tijiao" style="display: block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-7"><h4>修改密码</h4></div>
                            </div><br/>
                            <div class="row">
                                <div class="col-sm-2">账号</div>
                                <div class="col-sm-6">
                                    <input type="text"  class="form-control" id="username2" />
                                    <input type="hidden"  class="form-control" id="id" name="id" />
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-2">新密码</div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"  name="password"/>
                                </div>
                            </div>
                            <br/>
                            <!--                          <div class="row">
                                                          <center><font size="3px" color="#008b8b">免费咨询400-069-6530</font><br/>

                                                              登录即视为同意《用户使用协议》及《隐私权条款》</center>
                                                      </div>-->

                        </div>
                    </div>

                </form>
                <div class="modal-footer">
                    <center>
                        <button type="button" onclick="update()" class="btn btn-primary" style="display: block" id="logins" >
                            确认修改
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>


<table id="myTable"></table>

</body>

<!--<script>
    //指定1秒刷新一次
    function myrefresh(){
        window.location.reload();
    }
    setTimeout('myrefresh()',1000); //指定1秒刷新一次
</script>-->
<script>
    //初始化页面
    $(function(){
        initMyTable();
        initUserPhone();
    })

    //修改密码
    function updatePs(id,username){
        //alert(username);
        $("#myModal2").modal("show");
        $("#id").val(id);
        $("#username2").val(username);
    }
    //确认修改
    function update(){
        $.post('../updatePss',$("#userForm").serialize(),function(){
            bootbox.alert({
                size: "small",
                title: "提示",
                message: "修改成功",
            });
            $("#myTable").bootstrapTable("refresh", {
                silent: true //静态刷新
            });
        })
    }


    function initUserPhone() {
        $.ajax({
            url : "../initUserPhone",
            async : true,
            type: "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success : function(data) {
                console.info(data);
                $.each(data,function(i){
                    html1 = '<li role="presentation" ><a href=""></a></li>';
                    //html1 += '<option value="'+ data[i].phone +'"> '+ data[i].phone +' </option>';
                    html1 += '<li role="presentation" ><a href="###" id="phone"></a>'+ data[i].phone +'</li>';

                })
                //$('#phoneHtml').html(html1);
            },
            error : function(e){
                alert("代码有问题，请打开F12和debug进行调试！");
            }
        });
    }

    //展示内容
    function initMyTable(){
        $('#myTable').bootstrapTable({
            toolbar:'#toolbar',
            url:'../queryUserblackPageList',
            pagination:true, //是否展示分页
            pageList:[3,5,10,20],//分页组件
            pageNumber:1,
            pageSize:3,//默认每页条数
            search:false,//是否显示搜索框
            searchText:'试试',//初始化搜索文字
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            queryParams:function(){              // 条查
                var username = $('#username').val();
                //alert(username);
                //var phone = $('#phone').val();
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    username:username
                    /*phone:phone,*/
                }
            },
            columns:[
                {field:'id',title:'👨'},
                {field:'username',title:'👨用户名称'},
                {field:'phone',title:'👨用户手机号'},
                {field:'password',title:'👨用户密码'},
                {formatter:function(value,row,index){
                        return '<button type="button" Class="btn btn-default" onclick="UpdateUserStatus('+ row.id +')">取消黑名单</button><button type="button" Class="btn btn-default" onclick="deleteUserOne('+ row.id +')">删除用户</button><button type="button" Class="btn btn-default" onclick="UpdateUserStatusToStar('+ row.id +')">星标用户</button><button type="button" style="height: 30px;width: 90px" onclick="updatePs('+row.id+',\''+row.username+'\')" class="btn btn-default">修改密码</button>';

                }}
            ]
        })
    }

    //搜索
    function searchUser(){
        $('#myTable').bootstrapTable('refresh');
    }

    /**
     * 还原用户信息  修改状态为1
     * @param id
     * @constructor
     */
    function UpdateUserStatus(id) {
        $.ajax({
            url : "../UpdateUserStatus?id="+id,
            async : true,
            type: "POST",
            processData: false,
            contentType:false,
            dataType: "json",
            success : function(data) {
                if(data == 1){
                    $('#myTable').bootstrapTable('refresh');
                }
            },
            error : function(e){
                alert("代码有问题，请打开F12和debug进行调试！");
            }
        });
    }

    /**
     * 星标用户  修改状态为3
     * @param id
     * @constructor
     */
    function UpdateUserStatusToStar(id) {
        $.ajax({
            url : "../UpdateUserStatusToStar?id="+id,
            async : true,
            type: "POST",
            processData: false,
            contentType:false,
            dataType: "json",
            success : function(data) {
                if(data == 1){
                    $('#myTable').bootstrapTable('refresh');
                }
            },
            error : function(e){
                alert("代码有问题，请打开F12和debug进行调试！");
            }
        });
    }




    function deleteUserOne(id) {
        $.ajax({
            url : "../deleteUserOne?id="+id,
            async : true,
            type: "POST",
            processData: false,
            contentType:false,
            dataType: "json",
            success : function(data) {
                if(data == 1){
                    $('#myTable').bootstrapTable('refresh');
                }
            },
            error : function(e){
                alert("代码有问题，请打开F12和debug进行调试！");
            }
        });
    }
    
</script>
</html>